@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;900&display=swap');

:root {
  --color-main-red: #FF6666;
  --color-main-yellow: #FFD324;
  --color-main-white: #FBFBFB;
  --color-main-blue: #6F77F4;
  --color-main-purple: #A96FF4;
  --color-sub-blue: #C9D0E9;
  --color-sub-green: #CFE6D7;
  --color-sub-pink: #E6CFE2;
  --color-sub-lightred: #FFC8C8;
  --color-sub-lightblue: #7575ED;
  --color-sub-beige: #f1ede8;
  --color-text-black: #3A3A3A;
  --color-text-white: #FFFFFF;
}

body {
  background: var(--color-main-white);
  margin: 50px 50px 0 50px;
}

.site-wrapper {
  background: var(--color-main-white);
  min-height: calc(100vh - 100px);
}

h1, h2, h3, h4, h5,
p, .text-normal, .footer, .text-small {
  color: var(--color-text-black);
}

h1 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 800;
  font-size: 90px;
  line-height: 1em;
}

h2 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 800;
  font-size: 65px;
  line-height: 1em;
  margin-top: 10px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 0.8em;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 0.8em;
}

h5, .fat-text {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1em;
}

p, .text-normal {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
}

.footer, .text-small {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.white-text, .on-color-section {
  color: var(--color-text-white) !important;
}

a { color: var(--color-main-blue); }
a:hover { color: var(--color-main-purple); }

.button-primary {
  background-color: var(--color-main-red);
  color: var(--color-text-white);
}
.button-secondary {
  background-color: var(--color-main-yellow);
  color: var(--color-text-black);
}

.card-blue { background-color: var(--color-sub-blue); }
.card-green { background-color: var(--color-sub-green); }
.card-pink { background-color: var(--color-sub-pink); }
.card-lightred { background-color: var(--color-sub-lightred); }

.eyebrow {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 0.8em;
  text-transform: capitalize;
  color: var(--color-text-black);
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
}
.software-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.software-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.label {
  flex: 1;
}

.icons {
  display: flex;
  gap: 0.3em;
}

.filled, .empty {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 2px solid #222;
  display: inline-block;
}

.filled {
  background: #222;
}

.empty {
  background: #fff;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 0px 0px; 
  height: 4em; 
}

/* Section mit Bild links oder rechts */
.sec_img_left {
  display: flex;
  gap: 2rem;
  padding: 0; /* oben, rechts, unten, links */
}

.sec_img_right {
  display: flex;
  gap: 2rem;
  padding: 0; /* oben, rechts, unten, links */
}

/* Section Bild erst ab Smartphone unter oder über Text */
.no-tablet-break {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-direction: row;
}

.no-tablet-break.sec_img_right {
  flex-direction: row-reverse;
}

/* Section ohne Bild */
.sec_no_img {
  padding: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Generelle Regeln für Bild- und Textcontainer */
.txt {
  flex: 1 1 50%;
  margin: clamp(0.2rem, 4vw, 2rem);
}

.img {
  flex: 1 1 50%;
  margin: 0rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
}

/* Farbvarianten der Sections */
.bg-1 { background: var(--color-main-white); }
.bg-2 { background: var(--color-sub-green); }
.bg-3 { background: var(--color-sub-pink); }
.bg-4 { background: var(--color-sub-lightred); }
.bg-5 { background: var(--color-main-yellow); }
.bg-6 { background: var(--color-main-red);}
.bg-7 { background: var(--color-sub-beige);}

/* Grids*/
.grid_container_works {
  display: grid; 
  grid-template-columns: 2fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "grid_text grid_img_1 grid_img_2"
    "grid_text grid_img_3 grid_img_4"
    ". . ."; 
}
.grid_text {
  margin: clamp(0.2rem, 4vw, 2rem);
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
  grid-area: grid_text; 
}
.grid_img_3 { grid-area: grid_img_3; }
.grid_img_4 { grid-area: grid_img_4; }
.grid_img_2 { grid-area: grid_img_2; }
.grid_img_1 { grid-area: grid_img_1; }
.grid_text  { grid-area: grid_text; }

figure {
  margin: 0;
  padding: 0;
  border: none;
}

.grid_container_skills {
  display: grid; 
  grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr; 
  grid-template-rows: 0.6fr 1.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "skills_img grid_text grid_text grid_text"
    "skills_img card_1 card_2 card_3"; 
}
.skills_img {
  grid-area: skills_img;
  object-fit:contain
}

.skills_img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.card_1 {
  grid-area: card_1;
  margin-left: clamp(0.2rem, 4vw, 2rem);
  margin-right: clamp(0.2rem, 4vw, 2rem);
}

.card_2 { grid-area: card_2;
  margin-left: clamp(0.2rem, 4vw, 2rem);
  margin-right: clamp(0.2rem, 4vw, 2rem);
}
.card_3 { grid-area: card_3;
  margin-left: clamp(0.2rem, 4vw, 2rem);
  margin-right: clamp(0.2rem, 4vw, 2rem);
}
.grid_text { grid-area: grid_text; }


/* About Page */
.grid_container_introduction {
  background: var(--color-main-yellow);
  display: grid;
  grid-template-columns: 10fr 100px 15fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "left image text"
    "left social social";
  position: relative;
  width: 100%;
}

.grid_left {
  grid-area: left;
  background: var(--color-main-red);
}

.about-image {
  grid-area: image;
  height: 30vw;
  width: 30vw;
  z-index: 2; 
  align-self: center;
  justify-self: center;
  position: relative;
  margin: clamp(0.2rem, 4vw, 3rem);
  left: -15vw; /* Überlappen über linke Spalte */
  background: #fff;
}

.introduction-text {
  grid-area: text;
  align-self: center;
}

.social.media {
  max-height: 35em;
  max-width: 35em;
  grid-area: social;
  display: flex;
  align-items: center;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.social.media li {
  
  display: block;
  list-style-type: disc;
  margin: 0;
  padding: 0;
  unicode-bidi: isolate;
}

.grid_container_experience {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.2fr 1.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "grid_text grid_text grid_text"
    "card_1 card_2 card_3"; 
}

.grid_container_skills_ext {
  display: grid; 
  grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr; 
  grid-template-rows: 0.6fr 0.2fr 0.2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "skills_img grid_text grid_text grid_text"
    "skills_img card_1 card_2 card_3"
    "skills_img card_4 card_5 card_6"; 
}
.card_4 { grid-area: card_4;
  margin-left: clamp(0.2rem, 4vw, 2rem);
  margin-right: clamp(0.2rem, 4vw, 2rem);
}
.card_5 { grid-area: card_5;
  margin-left: clamp(0.2rem, 4vw, 2rem);
  margin-right: clamp(0.2rem, 4vw, 2rem);
}
.card_6 { grid-area: card_6;
  margin-left: clamp(0.2rem, 4vw, 2rem);
  margin-right: clamp(0.2rem, 4vw, 2rem);
  margin-bottom: clamp(0.2rem, 4vw,2rem);
}

/* Media Query für Tablet */
@media (max-width: 1024px) {
  body {
    margin: 24px;
  }
  .site-wrapper {
    min-height: calc(100vh - 48px);
  }
  h1 { font-size: 65px; }
  h2 { font-size: 40px; }
  h3 { font-size: 25px; }
  h4 { font-size: 18px; }
  h5, .fat-text { font-size: 18px; }
  p, .text-normal { font-size: 18px; }
  .footer, .text-small { font-size: 14px; }
  .eyebrow {
    font-size: 18px;
    color: var(--color-text-black);
  }
  .sec_img_left {
    padding: 0;
  }
  .sec_img_right {
    padding: 0;
  }
  .grid_container_skills {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    gap: 0px 0px; 
    grid-template-areas: 
    "skills_img grid_text"
    "skills_img card_1"
    "skills_img card_2"
    "skills_img card_3"; 
  }

  .grid_container_introduction {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "text"
      "left";
    position: relative;
  }

  .introduction-text.grid_text {
    grid-area: text;
    background: var(--color-main-yellow);
    z-index: 1;
  }

  .grid_left {
    grid-area: left;
    background: var(--color-main-red);
    min-height: 80vw;
  }

  .about-image {
    min-width: 70vw;
    min-height: 70vw;
    grid-area: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
  }
  
  .about-image img {
    height: auto;
    display: block;
  }

  .grid_container_experience {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "grid_text"
      "card_1"
      "card_2"
      "card_3"; 
}

.grid_container_skills_ext {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.6fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "skills_img grid_text"
    "skills_img card_1"
    "skills_img card_2"
    "skills_img card_3"
    "skills_img card_4"
    "skills_img card_5"
    "skills_img card_6";
  }
}

/* Media Query für Smartphone */
@media (max-width: 767px) {
  body {
    margin: 20px;
  }
  .site-wrapper {
    min-height: calc(100vh - 40px);
    }
    h1 { font-size: 40px; }
    h2 { font-size: 30px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }
    h5, .fat-text { font-size: 18px; }
    p, .text-normal { 
      font-size: 16px; 
      line-height: 1.5em; 
  }
  .footer, .text-small { font-size: 14px; }
  .eyebrow {
    font-size: 18px;
    line-height: 0.8em;
    color: var(--color-text-black);
  }
  /* Section Layout Smartphone*/
  .sec_img_left, .sec_img_right {
    flex-direction: column; /* Bild über bzw. unter Text */
    padding: 0rem;
    gap: clamp(0.5rem, 2vw, 2rem);
  }
  .img {
    margin: 0;  
    max-width: 100%;
    height: auto;
    width: 100%;     
  }
  .no-tablet-break {
    flex-direction: column;
  }
  .grid_container_works {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 1fr; 1fr; 1fr; 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "grid_text"
    "grid_img_1"
    "grid_img_2"
    "grid_img_3"
    "grid_img_4";
  }

  .grid_container_skills {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr;
    gap: 0px 0px; 
    grid-template-areas: 
    "grid_text"
    "card_1"
    "card_2"
    "card_3"
    "skills_img"; 
  }

  .skills_img img {
    width: 100%; 
    max-height: 500px; 
    object-fit: cover;
  }

  .grid_container_skills_ext {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.1fr 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "skills_img"
    "grid_text"
    "card_1"
    "card_2"
    "card_3"
    "card_4"
    "card_5"
    "card_6";
  }
}

  